# Python Tutorial

## Python Basic Tutorial

### Printing Hello world

In [1]:
print("Hello world")

Hello world

Comments in Python

In [2]:
# single line comment

"""
Mutliline Comment"""

'\nMutliline Comment'

Variables in Python

declaring variables

In [3]:
a=10
print(a)

10

to get the which type of datatype of the variable type class is used.

In [4]:
type(a)

int

In [5]:
b="string datatype"
print(b)
print(type(b))

c=10.2
print(c)
print(type(c))

# specifying none datatype
d=None
print(d)
print(type(d))

string datatype
<class 'str'>
10.2
<class 'float'>
None
<class 'NoneType'>

### Operators in python are similar to other operators in programming language

Refer online websites to different operators

Typecasting the variables

In [6]:
c="34" # this is string datatype
d=int(c)
print(d)
print("Datatype of D is=",type(d),"Datatype of c is=",type(c))

str() # to convert any variable to string
float() # to convert any variable to float type
bool() # to convert any variable to boolean type

34
Datatype of D is= <class 'int'> Datatype of c is= <class 'str'>

False

## Taking User Input using input function

In [7]:
user=input("Enter anything you want") # this function always return string as the output
print("User has typed = ",user)

User has typed =  Prathamesh Dhande

## String DataType

Declaring String variable using "" or '' or """"""

In [8]:
a="prathamesh"
b="Dhande"

Concatenating 2 Strings

In [9]:
print(a+b)

prathameshDhande

String Slicing

In [10]:
print(a[4]) # accessing the value of the string at 4th index
print(a[1:4]) # printing the string from index 1 to 3 not includes the 4th
print(a[5:]) # printing the string from 5 to the end
print(a[:6]) # printing the string from index 0 to index 5
print(a[-1]) # printing using the negative index string always the -1 starts from the string end
print(a[-5:-1])
print(a[::2]) # printing the string using the skip value

h
rat
amesh
pratha
h
ames
pahms

String Methods

In [11]:
print(a.capitalize()) 
print(a.casefold())
print(a.upper()) # return the string in the uppercase
print("HDDFD".lower()) # return the string in the lowercase
print(a.count("a")) # return the number of character in the string
print(len(a)) # return the len of the string

# for more methods refer docs

Prathamesh
prathamesh
PRATHAMESH
hddfd
2
10

## Tuples

Declaring the tuples using () 

Tuples are immutable there values cannot be changed

In [12]:
tup=(1,2,3,4,5) 
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

Accessing the value at a specified index

In [13]:
print(tup[4])

5

**Note**: You cannot change the value of the index in the tuple

In [14]:
tup[3]=0

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup.index(3) # returns the index of the specifed value

2

In [ ]:
tup.count(1) # returns the count of the given value in the tuple

1

## List 

This is similar to array in the java or any programming language.

They are mutable means there value can be changed

Declaring the list using syntax []

In [ ]:
names=["parot","tomato","chili","potato"]
print(names)
print(type(names))

['parot', 'tomato', 'chili', 'potato']
<class 'list'>

Changing the value of the list of one of its index

In [ ]:
names[0]="lady finger"

In [ ]:
print(names)

['lady finger', 'tomato', 'chili', 'potato']

### List Methods

In [ ]:
names.append("garlic") # adds the object or any value at the end
print(names)

['lady finger', 'tomato', 'chili', 'potato', 'garlic', 'garlic']

In [ ]:
names.count("garlic") # returns the number of the value in the list

2

In [ ]:
names.insert(3,"Ginger") # inserts the given value in the specifed index

In [ ]:
print(names)

['lady finger', 'tomato', 'chili', 'Ginger', 'Ginger', 'potato', 'garlic', 'garlic']

In [ ]:
names.pop()

'garlic'

In [ ]:
names.pop(3)

'Ginger'

In [ ]:
names.remove("potato")

In [ ]:
print(names)

['lady finger', 'tomato', 'chili', 'Ginger', 'garlic']

In [ ]:
len(names) # returns the length of the list

5

In [ ]:
names.sort() # sorts the list

In [ ]:
names

['Ginger', 'chili', 'garlic', 'lady finger', 'tomato']

In [ ]:
names.reverse()

In [ ]:
print(names)

['tomato', 'lady finger', 'garlic', 'chili', 'Ginger']

**Note:** You can change the list to tuple and tuple to list 

See how

In [ ]:
print(type(names))
names=tuple(names)
print(type(names))
print(names)

<class 'tuple'>
<class 'tuple'>
('tomato', 'lady finger', 'garlic', 'chili', 'Ginger')

In [ ]:
print(type(tup))
tup=list(tup)
print(type(tup))
print(tup)

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 5]

## Dictionary

Dictionary is just like the object datatype in javascript or Hashmap like in java 
or you can say the json type.

Declaring the Dictionary

In [26]:
data={"id":1,"name":"Prathamesh","rollno":4,"anotherdata":{"add":"gokul nagar","city":"Boisar"}}

the above syntax for dictionary contains the key:value pairs the key anotherdata is the nested dictionary

Accessing the key or value of the dictionary

In [2]:
print(type(data))

<class 'dict'>

In [7]:
print(data["id"])
print(data["anotherdata"])

1
{'add': 'gokul nagar', 'city': 'Boisar'}

In [8]:
print(data["name"])

Prathamesh

Adding the new data in it.

In [9]:
data["pincode"]=4011502

In [10]:
print(data)

{'id': 1, 'name': 'Prathamesh', 'rollno': 4, 'anotherdata': {'add': 'gokul nagar', 'city': 'Boisar'}, 'pincode': 4011502}

In [11]:
print(data["pincode"])

4011502

Accessing the nested dictionary value

In [12]:
print(data["anotherdata"]["add"])

gokul nagar

### Dictionary Methods

In [20]:
print(data.items()) # returns the list of (key,value) tuples

dict_items([('id', 1), ('name', 'Prathamesh'), ('rollno', 4), ('anotherdata', {'add': 'gokul nagar', 'city': 'Boisar'}), ('pincode', 4011502)])

In [21]:
data.keys() # returns the list of keys

dict_keys(['id', 'name', 'rollno', 'anotherdata', 'pincode'])

In [27]:
data.pop("rollno") # pops or removes the key with the value

4

In [28]:
print(data)

{'id': 1, 'name': 'Prathamesh', 'anotherdata': {'add': 'gokul nagar', 'city': 'Boisar'}}

In [32]:
print(data.get("rollno")) # get method returns none if the given key is not found in the dictionary

None

In [31]:
print(data.get("anotherdata"))

{'add': 'gokul nagar', 'city': 'Boisar'}

## Set

Set contains the unique elements only the datas are not clone

syntax is same as dict {}

declaring the set

In [35]:
datas={1,2,3}
print(datas)
print(type(datas))

{1, 2, 3}
<class 'set'>

Declaring the empty set

In [36]:
newdata=set()

In [37]:
print(type(newdata))

<class 'set'>

### Set Methods

In [42]:
datas.add(7)

In [43]:
print(datas)

{1, 2, 3, 5, 6, 7}

In [44]:
datas.difference([4,5])

{1, 2, 3, 6, 7}

In [45]:
datas.difference_update([4,5])

In [46]:
print(datas)

{1, 2, 3, 6, 7}

In [47]:
datas.intersection([3,5,6,7])

{3, 6, 7}

In [49]:
datas.union([1,2,3,4,5,65,7])

{1, 2, 3, 4, 5, 6, 7, 65}

In [51]:
datas.remove(7)

In [52]:
datas

{1, 2, 3, 6}

In [53]:
datas.symmetric_difference([4,5,6,7])

{1, 2, 3, 4, 5, 7}

## Conditional Expression in Python

if else

In [55]:
a=11
if a==10:
    print("the no is 10")
else:
    print("no is not 10")

no is not 10

if elseif else

###### Nested If else

In [59]:
a=13
if a==10:
    print("the no is 10")
elif a==11:
    print("the no is 11")
elif a==12:
    print("no is 12")
else:
    print("not a number")

not a number

Is Statement

In [66]:
a=None
print(a is None)

True

In Statement

In [68]:
a=[1,2,3,4]
print(6 in a)

False

## Loops

### While Loop

In [82]:
a=[1,2,3,4,5,6,7,8,9]

In [83]:
index=0
while index<len(a):
    print(a[index])
    index+=1
else:
    print("done")

1
2
3
4
5
6
7
8
9
done

### For Loops

In [72]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [74]:
for i in range(6): # the range does not include the 6th 
    print(i)

0
1
2
3
4
5

In [76]:
for i in range(5,10): # for loop from specified no to till no
    print(i)

5
6
7
8
9

In [78]:
for i in range(1,10,2): # range class with step value  
    print(i)

1
3
5
7
9

For Loop with else

In [80]:
for a in range(3):
    print(a)
else:
    print("done")

0
1
2
done

Break statement and continue statement

In [84]:
for i in range(10):
    if i==5:
        continue
    elif i==7:
        break
    else:
        print(i)

0
1
2
3
4
6

`continue` Statement skips that iteration whereas `break` statement exits the loop

`pass` statement does nothing

#### Match Statement

Match statement is similar to switch statement in other programming language

In [102]:
a = 2
match a:
    case 1: print("one")
    case 2: print("two")
    case _: print(a)

two

## Functions

creating the function using def keyword

creating the function without argument

In [85]:
def function1():
    print("helo")

calling the function function1

In [86]:
function1()

helo

Creating the function with argument

In [91]:
def greet(name:str|None):
    print("Hello ",name)

In [94]:
greet("Prathamesh")

Hello  Prathamesh

Creating the function with return statement

In [96]:
def sum(a:int|float,b:int|float):
    return a+b

print(sum(a=3,b=4))

7

Creating the function with default parameter

In [99]:
def sayhello(name="Prathamesh"):
    print("Hello ",name)
sayhello(name="dhande")

Hello  dhande

# The Basics Python Tutorial Ends Here

To learn the intermediate Python read the next Intermediate.ipynb file