# Python Mysql Connector

Tutorial on python mysql connector

installing the module

In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\asus\appdata\roaming\python\python310\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\asus\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 103.3 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for mysql.connector, since package 'wheel' is not installed.
Installing collected packages: mysql.connector
  Running setup.py install for mysql.connector: started
  Running setup.py install for mysql.connector: finished with status 'done'
Successfully installed mysql.connector-2.2.9

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

Importing the module

In [35]:
from mysql.connector import MySQLConnection
from mysql.connector import cursor

Creating the Connection

In [36]:
conn=MySQLConnection(user="root",password="prathamesh",database="tutorial")

Check If connection is created

In [37]:
conn.is_connected()

True

Creating the cursor which can help for Executing the query

In [38]:
cur=conn.cursor()

Executing the Query

In [39]:
cur.execute("select * from employee")
data=cur.fetchall()

In [40]:
print(data)

[(1223, 'STEVE', 'BORN', 'SALESMAN', '4503', datetime.date(1880, 2, 3), 1000, 0, 10, 0), (9369, 'TONY', 'STARK', 'SOFTWARE ENGINEER', '7902', datetime.date(1980, 12, 17), 2800, 0, 20, 21), (9499, 'TIM', 'ADOLF', 'SALESMAN', '7698', datetime.date(1981, 2, 20), 1600, 300, 30, 0), (9566, 'KIM', 'JARVIS', 'MANAGER', '7839', datetime.date(1981, 4, 2), 3570, 0, 20, 0), (9591, 'WENDY', 'SHAWN', 'SALESMAN', '7698', datetime.date(1981, 2, 22), 500, 0, 30, 0), (9654, 'SAM', 'MILES', 'SALESMAN', '7698', datetime.date(1981, 9, 28), 1250, 1400, 30, 0), (9698, 'BELLA', 'SWAN', 'MANAGER', '7839', datetime.date(1981, 5, 1), 3420, 0, 30, 0), (9777, 'MADII', 'HIMBURY', 'ANALYST', '7839', datetime.date(1981, 5, 1), 2000, 200, None, 0), (9782, 'KEVIN', 'HILL', 'MANAGER', '7839', datetime.date(1981, 6, 9), 2940, 0, 10, 0), (9788, 'CONNIE', 'SMITH', 'ANALYST', '7566', datetime.date(1982, 12, 9), 3000, 0, 20, 0), (9839, 'ALFRED', 'KINSLEY', 'PRESIDENT', '7566', datetime.date(1981, 11, 17), 5000, 0, 10, 0), (9844, 'PAUL', 'TIMOTHY', 'SALESMAN', '7698', datetime.date(1981, 9, 8), 1500, 0, 30, 0), (9860, 'ATHENA', 'WILSON', 'ANALYST', '7839', datetime.date(1992, 6, 21), 7000, 100, 50, 0), (9861, 'JENNIFER', 'HUETTE', 'ANALYST', '7839', datetime.date(1996, 7, 1), 5000, 100, 50, 0), (9876, 'JOHN', 'ASGHAR', 'SOFTWARE ENGINEER', '7788', datetime.date(1983, 1, 12), 3100, 0, 20, 1), (9900, 'ROSE', 'SUMMERS', 'TECHNICAL LEAD', '7698', datetime.date(1981, 12, 3), 2950, 0, 20, 0), (9902, 'ANDREW', 'FAULKNER', 'ANAYLYST', '7566', datetime.date(1981, 12, 3), 3000, 0, 10, 0), (9934, 'KAREN', 'MATTHEWS', 'SOFTWARE ENGINEER', '7782', datetime.date(1982, 1, 23), 3300, 0, 20, 0)]

In [41]:
for s in data:
    print(s)

(1223, 'STEVE', 'BORN', 'SALESMAN', '4503', datetime.date(1880, 2, 3), 1000, 0, 10, 0)
(9369, 'TONY', 'STARK', 'SOFTWARE ENGINEER', '7902', datetime.date(1980, 12, 17), 2800, 0, 20, 21)
(9499, 'TIM', 'ADOLF', 'SALESMAN', '7698', datetime.date(1981, 2, 20), 1600, 300, 30, 0)
(9566, 'KIM', 'JARVIS', 'MANAGER', '7839', datetime.date(1981, 4, 2), 3570, 0, 20, 0)
(9591, 'WENDY', 'SHAWN', 'SALESMAN', '7698', datetime.date(1981, 2, 22), 500, 0, 30, 0)
(9654, 'SAM', 'MILES', 'SALESMAN', '7698', datetime.date(1981, 9, 28), 1250, 1400, 30, 0)
(9698, 'BELLA', 'SWAN', 'MANAGER', '7839', datetime.date(1981, 5, 1), 3420, 0, 30, 0)
(9777, 'MADII', 'HIMBURY', 'ANALYST', '7839', datetime.date(1981, 5, 1), 2000, 200, None, 0)
(9782, 'KEVIN', 'HILL', 'MANAGER', '7839', datetime.date(1981, 6, 9), 2940, 0, 10, 0)
(9788, 'CONNIE', 'SMITH', 'ANALYST', '7566', datetime.date(1982, 12, 9), 3000, 0, 20, 0)
(9839, 'ALFRED', 'KINSLEY', 'PRESIDENT', '7566', datetime.date(1981, 11, 17), 5000, 0, 10, 0)
(9844, 'PAUL', 'TIMOTHY', 'SALESMAN', '7698', datetime.date(1981, 9, 8), 1500, 0, 30, 0)
(9860, 'ATHENA', 'WILSON', 'ANALYST', '7839', datetime.date(1992, 6, 21), 7000, 100, 50, 0)
(9861, 'JENNIFER', 'HUETTE', 'ANALYST', '7839', datetime.date(1996, 7, 1), 5000, 100, 50, 0)
(9876, 'JOHN', 'ASGHAR', 'SOFTWARE ENGINEER', '7788', datetime.date(1983, 1, 12), 3100, 0, 20, 1)
(9900, 'ROSE', 'SUMMERS', 'TECHNICAL LEAD', '7698', datetime.date(1981, 12, 3), 2950, 0, 20, 0)
(9902, 'ANDREW', 'FAULKNER', 'ANAYLYST', '7566', datetime.date(1981, 12, 3), 3000, 0, 10, 0)
(9934, 'KAREN', 'MATTHEWS', 'SOFTWARE ENGINEER', '7782', datetime.date(1982, 1, 23), 3300, 0, 20, 0)

Inserting the data in the table

In [42]:
cur.executemany("insert into example value (%s,%s)",[(6,"Het"),(8,"Nidhi")])
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '6' for key 'example.PRIMARY'

Counts the row inserted

In [43]:
cur.rowcount

-1

Calling the Procedure

In [45]:
datas=cur.callproc("getSalarybyjob",("Salesman",0))

In [46]:
print(datas)

('Salesman', 5850)

Get the Current Statement

In [47]:
cur.statement

'SELECT @_getSalarybyjob_arg1 AS getSalarybyjob_arg1,@_getSalarybyjob_arg2 AS getSalarybyjob_arg2'

Get the Column Name

In [48]:
cur.column_names

('getSalarybyjob_arg1', 'getSalarybyjob_arg2')

Close the Connection

In [49]:
cur.close()

True

In [50]:
conn.close()

In [51]:
conn.is_connected()

False