# SQL Alchemy Tutorial

Installation of SQlalchemy

In [ ]:
# pip install sqlalchemy

We will be using PyMySQL library to connect with it instead of python-mysql-connector

In [ ]:
# pip install pymysql

## Creating the Engine or Establishing the Connectivity with Database

In [1]:
from sqlalchemy import create_engine

uri="mysql+pymysql://root:prathamesh@localhost/tutorial"


engine=create_engine(uri,echo=True)

In [2]:
print(engine)

Engine(mysql+pymysql://root:***@localhost/tutorial)

## Testing the Connection

In [3]:
from sqlalchemy import text


with engine.connect() as con:
    cur=con.execute(text("Select 'Hello' as say"))
    print(cur.all())

2023-06-22 20:33:20,132 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-06-22 20:33:20,134 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:33:20,139 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-06-22 20:33:20,140 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:33:20,143 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-06-22 20:33:20,144 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:33:20,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:33:20,148 INFO sqlalchemy.engine.Engine Select 'Hello' as say
2023-06-22 20:33:20,149 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {}
[('Hello',)]
2023-06-22 20:33:20,153 INFO sqlalchemy.engine.Engine ROLLBACK

In [4]:
con=engine.connect()
cur=con.execute(text("select 'Hello Prathamesh'"))
print(cur.all())

2023-06-22 20:33:20,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:33:20,507 INFO sqlalchemy.engine.Engine select 'Hello Prathamesh'
2023-06-22 20:33:20,509 INFO sqlalchemy.engine.Engine [generated in 0.00360s] {}
[('Hello Prathamesh',)]

## Working with Database Metadata

In [2]:
# importing the metadata
from sqlalchemy import MetaData

# storing its object 
metaobj=MetaData()

Creating the Table with Created object of Metadata

In [3]:
from sqlalchemy import Integer, String, Table,Column

# creating the table
usertable=Table(
    "user",
    metaobj,
    Column("id",Integer,primary_key=True,nullable=False),
    Column("name",String(20)),
    Column("age",Integer,nullable=False)
)

Getting the Column in the table

In [4]:
print(usertable.c.keys())

['id', 'name', 'age']

Accessing the Particular Column

In [5]:
usertable.c["name"]

Column('name', String(length=20), table=<user>)

Acessing the Primary Key in the Table

In [6]:
usertable.primary_key

PrimaryKeyConstraint(Column('id', Integer(), table=<user>, primary_key=True, nullable=False))

Implementing the Foreign Key Constraint

In [7]:
from sqlalchemy import ForeignKey


deptable=Table(
    "department",
    metaobj,
    Column("id",Integer,primary_key=True,nullable=False),
    Column("uid",Integer,ForeignKey("user.id"),nullable=False),
    Column("name",String(40),nullable=False,unique=True)
)

Migrating all the table to MySQL

In [8]:
metaobj.create_all(engine)

2023-06-22 20:36:14,190 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-06-22 20:36:14,193 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:14,197 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-06-22 20:36:14,199 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:14,203 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-06-22 20:36:14,205 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:14,212 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:14,215 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`user`
2023-06-22 20:36:14,218 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:14,226 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`department`
2023-06-22 20:36:14,228 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:14,233 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20),
	age INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2023-06-22 20:36:14,234 INFO sqlalchemy.engine.Engine [no key 0.00138s] {}
2023-06-22 20:36:14,255 INFO sqlalchemy.engine.Engine
CREATE TABLE department (
	id INTEGER NOT NULL AUTO_INCREMENT,
	uid INTEGER NOT NULL,
	name VARCHAR(40) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(uid) REFERENCES user (id),
	UNIQUE (name)
)


2023-06-22 20:36:14,256 INFO sqlalchemy.engine.Engine [no key 0.00154s] {}
2023-06-22 20:36:14,282 INFO sqlalchemy.engine.Engine COMMIT

The Table is Created in the MySQL

Dropping the tables created

In [9]:
metaobj.drop_all(engine)

2023-06-22 20:36:16,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:16,419 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`user`
2023-06-22 20:36:16,423 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:16,436 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`department`
2023-06-22 20:36:16,440 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:16,449 INFO sqlalchemy.engine.Engine
DROP TABLE department
2023-06-22 20:36:16,452 INFO sqlalchemy.engine.Engine [no key 0.00236s] {}
2023-06-22 20:36:16,474 INFO sqlalchemy.engine.Engine
DROP TABLE user
2023-06-22 20:36:16,476 INFO sqlalchemy.engine.Engine [no key 0.00225s] {}
2023-06-22 20:36:16,489 INFO sqlalchemy.engine.Engine COMMIT

## ORM (Object Relational Mapping)

Intializing the Declarative Base

In [10]:
from sqlalchemy.orm import DeclarativeBase


class Base(DeclarativeBase):
    pass

Creating the Table using Class and passing the Base class as the Subclass

In [11]:
class User(Base):
    __tablename__ = "user"
    id = Column(Integer, primary_key=True, autoincrement="ignore_fk")
    name = Column(String(20))

    def __init__(self, id, name):
        self.id = id
        self.name = name

In [12]:
Base.metadata.create_all(engine)

2023-06-22 20:36:20,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:20,565 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`user`
2023-06-22 20:36:20,568 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:20,576 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20),
	PRIMARY KEY (id)
)


2023-06-22 20:36:20,580 INFO sqlalchemy.engine.Engine [no key 0.00398s] {}
2023-06-22 20:36:20,611 INFO sqlalchemy.engine.Engine COMMIT

Another Way of creating the mapping

In [13]:
from sqlalchemy.orm import declarative_base
Base=declarative_base()

class Dept(Base):
    __tablename__="department"
    id=Column(Integer,autoincrement="",primary_key=True)
    
Base.metadata.create_all(engine)

2023-06-22 20:36:21,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:21,805 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`department`
2023-06-22 20:36:21,807 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:21,812 INFO sqlalchemy.engine.Engine
CREATE TABLE department (
	id INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2023-06-22 20:36:21,813 INFO sqlalchemy.engine.Engine [no key 0.00099s] {}
2023-06-22 20:36:21,829 INFO sqlalchemy.engine.Engine COMMIT

Droping the Tables

In [14]:
Dept.metadata.drop_all(engine)

2023-06-22 20:36:22,997 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:22,999 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`department`
2023-06-22 20:36:23,000 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:23,006 INFO sqlalchemy.engine.Engine
DROP TABLE department
2023-06-22 20:36:23,009 INFO sqlalchemy.engine.Engine [no key 0.00350s] {}
2023-06-22 20:36:23,018 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
User.metadata.drop_all(engine)

2023-06-22 20:36:23,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:36:23,618 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`user`
2023-06-22 20:36:23,619 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:36:23,623 INFO sqlalchemy.engine.Engine
DROP TABLE user
2023-06-22 20:36:23,626 INFO sqlalchemy.engine.Engine [no key 0.00265s] {}
2023-06-22 20:36:23,634 INFO sqlalchemy.engine.Engine COMMIT

## Data Manipulation

Creating the required Tables

In [19]:
from typing import Any


class Base(DeclarativeBase):
    pass


class UserT(Base):

    def __init__(self, **kw: Any):
        self.id = kw["id"]
        self.name = kw["name"]
        self.job = kw["job"]

    __tablename__ = "userdata"

    id = Column(Integer, primary_key=True, autoincrement="")
    name = Column(String(20), nullable=False)
    job = Column(String(30), nullable=False)
    
    def __repr__(self) -> str:
        return f"User(id={self.id},name={self.name},job={self.job})"

UserT.metadata.create_all(engine)

2023-06-22 20:37:29,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:37:29,424 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`userdata`
2023-06-22 20:37:29,428 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:37:29,439 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
johndata=UserT(id=101,name="John Sailor",job="React Developer")
kevlardata=UserT(id=102,name="Kevalar Selvan",job="Java Developer")

Executing the Queries by creating the Session

In [16]:
from sqlalchemy.orm import Session

session=Session(engine)

### INSERT 

Adding the objects to the session

In [24]:
session.add(johndata)
session.add(kevlardata)

Viewing which objects are pending to be inserted

In [25]:
print(session.new)

IdentitySet([User(id=101,name=John Sailor,job=React Developer), User(id=102,name=Kevalar Selvan,job=Java Developer)])

Inserting the data using flush method of Session 

**Note**: We can specify autoflush using session

In [26]:
session.flush()

2023-06-22 20:34:32,591 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-06-22 20:34:32,591 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:34:32,594 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-06-22 20:34:32,595 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:34:32,597 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-06-22 20:34:32,598 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:34:32,599 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:34:32,602 INFO sqlalchemy.engine.Engine INSERT INTO userdata (id, name, job) VALUES (%(id)s, %(name)s, %(job)s)
2023-06-22 20:34:32,603 INFO sqlalchemy.engine.Engine [generated in 0.00094s] [{'id': 101, 'name': 'John Sailor', 'job': 'React Developer'}, {'id': 102, 'name': 'Kevalar Selvan', 'job': 'Java Developer'}]

Data is not added yet until we commit

In [27]:
session.commit()

2023-06-22 20:34:34,281 INFO sqlalchemy.engine.Engine COMMIT

### SELECT

Calling the Select Statement

In [33]:
from sqlalchemy import select

stmt=select(UserT)
print(stmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata

In [34]:
result=session.execute(stmt).fetchall()

print(result)
for rows in result:
    print(rows[0])

2023-06-22 20:39:21,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:39:21,510 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
2023-06-22 20:39:21,513 INFO sqlalchemy.engine.Engine [generated in 0.00268s] {}
[(User(id=101,name=John Sailor,job=React Developer),), (User(id=102,name=Kevalar Selvan,job=Java Developer),), (User(id=105,name=Rabin Karp,job=Python Developer),), (User(id=106,name=Danny Seol,job=.Net Developer),), (User(id=107,name=Roghan Carpte,job=C# Developer),), (User(id=108,name=Rabin Karp,job=Python Developer),), (User(id=109,name=Danny Seol,job=.Net Developer),), (User(id=110,name=Roghan Carpte,job=C# Developer),)]
User(id=101,name=John Sailor,job=React Developer)
User(id=102,name=Kevalar Selvan,job=Java Developer)
User(id=105,name=Rabin Karp,job=Python Developer)
User(id=106,name=Danny Seol,job=.Net Developer)
User(id=107,name=Roghan Carpte,job=C# Developer)
User(id=108,name=Rabin Karp,job=Python Developer)
User(id=109,name=Danny Seol,job=.Net Developer)
User(id=110,name=Roghan Carpte,job=C# Developer)

Select Statement is not visible to see as we are iterating instead use scalars()

In [35]:
from sqlalchemy import desc


stmt=select(UserT).order_by(desc(UserT.job))
print(stmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job DESC

In [36]:
result=session.scalars(stmt).fetchall()
print(result)

2023-06-22 20:39:23,645 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job DESC
2023-06-22 20:39:23,649 INFO sqlalchemy.engine.Engine [generated in 0.00431s] {}
[User(id=101,name=John Sailor,job=React Developer), User(id=105,name=Rabin Karp,job=Python Developer), User(id=108,name=Rabin Karp,job=Python Developer), User(id=102,name=Kevalar Selvan,job=Java Developer), User(id=107,name=Roghan Carpte,job=C# Developer), User(id=110,name=Roghan Carpte,job=C# Developer), User(id=106,name=Danny Seol,job=.Net Developer), User(id=109,name=Danny Seol,job=.Net Developer)]

Setting the Aliases Name

In [37]:
alstmt=select(UserT.id.label("ID"),UserT.job.label("Job Doing"))
print(alstmt)

SELECT userdata.id AS "ID", userdata.job AS "Job Doing"
FROM userdata

In [38]:
results=session.execute(alstmt).all()
print(results)

2023-06-22 20:39:25,691 INFO sqlalchemy.engine.Engine SELECT userdata.id AS `ID`, userdata.job AS `Job Doing`
FROM userdata
2023-06-22 20:39:25,696 INFO sqlalchemy.engine.Engine [generated in 0.00367s] {}
[(101, 'React Developer'), (102, 'Java Developer'), (105, 'Python Developer'), (106, '.Net Developer'), (107, 'C# Developer'), (108, 'Python Developer'), (109, '.Net Developer'), (110, 'C# Developer')]

#### Where Clause

In [39]:
wstmt=select(UserT.id,UserT.name).where(UserT.id==105)
print(wstmt)

SELECT userdata.id, userdata.name
FROM userdata
WHERE userdata.id = :id_1

In [35]:
print(session.execute(wstmt).all())

2023-06-22 20:34:43,661 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name
FROM userdata
WHERE userdata.id = %(id_1)s
2023-06-22 20:34:43,665 INFO sqlalchemy.engine.Engine [generated in 0.00368s] {'id_1': 105}
[(105, 'Rabin Karp')]

Where clause with and statment

In [36]:
wstmt=select(UserT.id,UserT.name).where(UserT.id==105).where(UserT.name=="Roghan Carpte")
print(wstmt)

SELECT userdata.id, userdata.name
FROM userdata
WHERE userdata.id = :id_1 AND userdata.name = :name_1

In [37]:
print(session.execute(wstmt).all())

2023-06-22 20:34:45,949 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name
FROM userdata
WHERE userdata.id = %(id_1)s AND userdata.name = %(name_1)s
2023-06-22 20:34:45,953 INFO sqlalchemy.engine.Engine [generated in 0.00467s] {'id_1': 105, 'name_1': 'Roghan Carpte'}
[]

Where Clause with or Statement

In [38]:
from sqlalchemy import or_


wstmt=select(UserT).where(or_(UserT.id==101,UserT.id==105)).order_by(UserT.id.desc())
print(wstmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = :id_1 OR userdata.id = :id_2 ORDER BY userdata.id DESC

In [39]:
print(session.scalars(wstmt).all())

2023-06-22 20:34:48,504 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = %(id_1)s OR userdata.id = %(id_2)s ORDER BY userdata.id DESC
2023-06-22 20:34:48,507 INFO sqlalchemy.engine.Engine [generated in 0.00335s] {'id_1': 101, 'id_2': 105}
[User(id=105,name=Rabin Karp,job=Python Developer), User(id=101,name=John Sailor,job=React Developer)]

## Join Statement

In [20]:
from sqlalchemy import ForeignKey
# creating the table
class Dept(Base):
    __tablename__="officework"
    id=Column(Integer,primary_key=True,nullable=False,autoincrement="")
    deptname=Column(String(20),nullable=False)
    userid=Column(Integer,ForeignKey(UserT.id),nullable=False)

In [41]:
Dept.metadata.create_all(engine)

2023-06-22 20:34:51,579 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:34:51,580 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`userdata`
2023-06-22 20:34:51,581 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:34:51,589 INFO sqlalchemy.engine.Engine DESCRIBE `tutorial`.`officework`
2023-06-22 20:34:51,590 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-06-22 20:34:51,593 INFO sqlalchemy.engine.Engine
CREATE TABLE officework (
	id INTEGER NOT NULL,
	deptname VARCHAR(20) NOT NULL,
	userid INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(userid) REFERENCES userdata (id)
)


2023-06-22 20:34:51,594 INFO sqlalchemy.engine.Engine [no key 0.00121s] {}

In [28]:
# adding the data in dept table
compdept=Dept(id=1,deptname="Computer",userid=101)
mechdept=Dept(id=2,deptname="Mechanical",userid=102)
itdept=Dept(id=3,deptname="IT",userid=105)

session.add_all([compdept,mechdept,itdept])

In [29]:
session.new

IdentitySet([<__main__.Dept object at 0x000001FFF6546950>, <__main__.Dept object at 0x000001FFF6547BE0>, <__main__.Dept object at 0x000001FFF6546AA0>])

In [30]:
session.flush()
session.commit()

2023-06-22 20:39:04,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:39:04,816 INFO sqlalchemy.engine.Engine INSERT INTO officework (id, deptname, userid) VALUES (%(id)s, %(deptname)s, %(userid)s)
2023-06-22 20:39:04,820 INFO sqlalchemy.engine.Engine [cached since 77.95s ago] [{'id': 1, 'deptname': 'Computer', 'userid': 101}, {'id': 2, 'deptname': 'Mechanical', 'userid': 102}, {'id': 3, 'deptname': 'IT', 'userid': 105}]
2023-06-22 20:39:04,827 INFO sqlalchemy.engine.Engine COMMIT

Performing Join

In [40]:
stmt=select(UserT.id,UserT.name,Dept.deptname,Dept.id).join(Dept,Dept.userid==UserT.id)
print(stmt)

SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata JOIN officework ON officework.userid = userdata.id

In [41]:
print(session.execute(stmt).all())

2023-06-22 20:39:33,664 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata INNER JOIN officework ON officework.userid = userdata.id
2023-06-22 20:39:33,666 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {}
[(101, 'John Sailor', 'Computer', 1), (102, 'Kevalar Selvan', 'Mechanical', 2), (105, 'Rabin Karp', 'IT', 3)]

Join From method

In [42]:
stmt=select(UserT.id,UserT.name,Dept.deptname,Dept.id).join_from(UserT,Dept)
print(stmt)

SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata JOIN officework ON userdata.id = officework.userid

Left Outer Join

In [43]:
stmt=select(UserT.id,UserT.name,Dept.deptname,Dept.id).join(Dept,Dept.userid==UserT.id,isouter=True)
print(stmt)

SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata LEFT OUTER JOIN officework ON officework.userid = userdata.id

In [44]:
print(session.execute(stmt).all())

2023-06-22 20:39:36,966 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata LEFT OUTER JOIN officework ON officework.userid = userdata.id
2023-06-22 20:39:36,967 INFO sqlalchemy.engine.Engine [generated in 0.00198s] {}
[(101, 'John Sailor', 'Computer', 1), (102, 'Kevalar Selvan', 'Mechanical', 2), (105, 'Rabin Karp', 'IT', 3), (106, 'Danny Seol', None, None), (107, 'Roghan Carpte', None, None), (108, 'Rabin Karp', None, None), (109, 'Danny Seol', None, None), (110, 'Roghan Carpte', None, None)]

Full Outer Join

In [45]:
stmt=select(UserT.id,UserT.name,Dept.deptname,Dept.id).join(Dept,Dept.userid==UserT.id,full=True)
print(stmt)

SELECT userdata.id, userdata.name, officework.deptname, officework.id AS id_1
FROM userdata FULL OUTER JOIN officework ON officework.userid = userdata.id

In [ ]:
print(session.execute(stmt).all())

In [ ]:
session.rollback()

#### Order by Clause

In [47]:
ostmt=select(UserT).order_by(UserT.job)
print(ostmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job

In [48]:
print(session.scalars(ostmt).all())

2023-06-22 20:40:09,155 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job
2023-06-22 20:40:09,156 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
[User(id=106,name=Danny Seol,job=.Net Developer), User(id=109,name=Danny Seol,job=.Net Developer), User(id=107,name=Roghan Carpte,job=C# Developer), User(id=110,name=Roghan Carpte,job=C# Developer), User(id=102,name=Kevalar Selvan,job=Java Developer), User(id=105,name=Rabin Karp,job=Python Developer), User(id=108,name=Rabin Karp,job=Python Developer), User(id=101,name=John Sailor,job=React Developer)]

Order by clause with desc

In [49]:
ostmt=select(UserT).order_by(UserT.job.desc())
print(ostmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job DESC

In [50]:
print(session.scalars(ostmt).all())

2023-06-22 20:40:11,450 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata ORDER BY userdata.job DESC
2023-06-22 20:40:11,453 INFO sqlalchemy.engine.Engine [generated in 0.00282s] {}
[User(id=101,name=John Sailor,job=React Developer), User(id=105,name=Rabin Karp,job=Python Developer), User(id=108,name=Rabin Karp,job=Python Developer), User(id=102,name=Kevalar Selvan,job=Java Developer), User(id=107,name=Roghan Carpte,job=C# Developer), User(id=110,name=Roghan Carpte,job=C# Developer), User(id=106,name=Danny Seol,job=.Net Developer), User(id=109,name=Danny Seol,job=.Net Developer)]

### Group By Clause

Along with aggregation function

In [51]:
from sqlalchemy import func


stmt=select(func.count().label("Total People")).select_from(UserT).group_by(UserT.job)
print(stmt)

SELECT count(*) AS "Total People"
FROM userdata GROUP BY userdata.job

In [52]:
print(session.scalars(stmt).all())

2023-06-22 20:40:12,716 INFO sqlalchemy.engine.Engine SELECT count(*) AS `Total People`
FROM userdata GROUP BY userdata.job
2023-06-22 20:40:12,717 INFO sqlalchemy.engine.Engine [generated in 0.00135s] {}
[1, 1, 2, 2, 2]

Having Clause

In [53]:

stmt = select(func.count()).select_from(
    UserT).group_by(UserT.job).having(func.count() > 2)
print(stmt)

SELECT count(*) AS count_1
FROM userdata GROUP BY userdata.job
HAVING count(*) > :count_2

In [54]:
print(session.scalars(stmt).all())

2023-06-22 20:40:14,831 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM userdata GROUP BY userdata.job
HAVING count(*) > %(count_2)s
2023-06-22 20:40:14,834 INFO sqlalchemy.engine.Engine [generated in 0.00250s] {'count_2': 2}
[]

#### Subquery

Creating the Subquery

In [55]:
substatment=select(func.max(UserT.id).label("maxu")).select_from(UserT).subquery()
print(substatment)

SELECT max(userdata.id) AS maxu
FROM userdata

In [56]:
stmt=select(UserT).where(UserT.id==substatment.c[0])
print(stmt)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata, (SELECT max(userdata.id) AS maxu
FROM userdata) AS anon_1
WHERE userdata.id = anon_1.maxu

In [57]:
print(session.scalars(stmt).all())

2023-06-22 20:40:16,859 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata, (SELECT max(userdata.id) AS maxu
FROM userdata) AS anon_1
WHERE userdata.id = anon_1.maxu
2023-06-22 20:40:16,861 INFO sqlalchemy.engine.Engine [generated in 0.00130s] {}
[User(id=110,name=Roghan Carpte,job=C# Developer)]

### Union and UnionAll

In [58]:
stmt=select(UserT).where(UserT.id==106)
stmt2=select(UserT).where(UserT.id==107)
stmt3=stmt.union(stmt2)
print(stmt3)

SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = :id_1 UNION SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = :id_2

In [59]:
print(session.execute(stmt3).all())

2023-06-22 20:40:17,999 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = %(id_1)s UNION SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = %(id_2)s
2023-06-22 20:40:18,001 INFO sqlalchemy.engine.Engine [generated in 0.00165s] {'id_1': 106, 'id_2': 107}
[(106, 'Danny Seol', '.Net Developer'), (107, 'Roghan Carpte', 'C# Developer')]

Similarly you can add for union_all() method

Aggregation return function types

In [60]:
print(func.now().type)

DATETIME

In [61]:
print(func.count().type)

INTEGER

In [62]:
print(func.current_timestamp().type)

DATETIME

### Window Function

In [63]:
stmt = select(func.row_number().over(order_by=UserT.name),UserT.name,UserT.id).order_by(UserT.name)
print(stmt)

SELECT row_number() OVER (ORDER BY userdata.name) AS anon_1, userdata.name, userdata.id
FROM userdata ORDER BY userdata.name

In [64]:
res=session.execute(stmt).all()
for id,name,depid in res:
    print(id,name,depid)

2023-06-22 20:40:20,905 INFO sqlalchemy.engine.Engine SELECT row_number() OVER (ORDER BY userdata.name) AS anon_1, userdata.name, userdata.id
FROM userdata ORDER BY userdata.name
2023-06-22 20:40:20,907 INFO sqlalchemy.engine.Engine [generated in 0.00166s] {}
1 Danny Seol 106
2 Danny Seol 109
3 John Sailor 101
4 Kevalar Selvan 102
5 Rabin Karp 105
6 Rabin Karp 108
7 Roghan Carpte 107
8 Roghan Carpte 110

### UPDATE

In [65]:
steven=UserT(id=112,name="Steven Sor",job="React Developer")

In [66]:
session.add(steven)

In [67]:
session.new

IdentitySet([User(id=112,name=Steven Sor,job=React Developer)])

In [68]:
session.flush()

2023-06-22 20:40:21,922 INFO sqlalchemy.engine.Engine INSERT INTO userdata (id, name, job) VALUES (%(id)s, %(name)s, %(job)s)
2023-06-22 20:40:21,923 INFO sqlalchemy.engine.Engine [generated in 0.00105s] {'id': 112, 'name': 'Steven Sor', 'job': 'React Developer'}

In [69]:
steven.name="Thalapathy"

In [70]:
session.new

IdentitySet([])

When the data is altered update

In [71]:
session.dirty

IdentitySet([User(id=112,name=Thalapathy,job=React Developer)])

In [72]:
session.flush(
    
)

2023-06-22 20:40:24,632 INFO sqlalchemy.engine.Engine UPDATE userdata SET name=%(name)s WHERE userdata.id = %(userdata_id)s
2023-06-22 20:40:24,633 INFO sqlalchemy.engine.Engine [generated in 0.00155s] {'name': 'Thalapathy', 'userdata_id': 112}

In [73]:
session.commit()

2023-06-22 20:40:25,007 INFO sqlalchemy.engine.Engine COMMIT

Updating the Data

In [74]:
data=select(UserT).where(UserT.id==105)
result=session.execute(data).scalar_one()
print(result)

2023-06-22 20:40:25,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:40:25,481 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
WHERE userdata.id = %(id_1)s
2023-06-22 20:40:25,483 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {'id_1': 105}
User(id=105,name=Rabin Karp,job=Python Developer)

In [75]:
result.name="Rohan Aanwar"

In [76]:
session.dirty

IdentitySet([User(id=105,name=Rohan Aanwar,job=Python Developer)])

In [77]:
session.flush()

2023-06-22 20:40:26,147 INFO sqlalchemy.engine.Engine UPDATE userdata SET name=%(name)s WHERE userdata.id = %(userdata_id)s
2023-06-22 20:40:26,148 INFO sqlalchemy.engine.Engine [cached since 1.517s ago] {'name': 'Rohan Aanwar', 'userdata_id': 105}

In [78]:
session.commit()

2023-06-22 20:40:26,358 INFO sqlalchemy.engine.Engine COMMIT

ORM Update Statements

You can also print statement like this

In [79]:
session.execute(select(UserT)).scalars().all()

2023-06-22 20:40:27,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:40:27,167 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
2023-06-22 20:40:27,170 INFO sqlalchemy.engine.Engine [generated in 0.00319s] {}

[User(id=101,name=John Sailor,job=React Developer),
 User(id=102,name=Kevalar Selvan,job=Java Developer),
 User(id=105,name=Rohan Aanwar,job=Python Developer),
 User(id=106,name=Danny Seol,job=.Net Developer),
 User(id=107,name=Roghan Carpte,job=C# Developer),
 User(id=108,name=Rabin Karp,job=Python Developer),
 User(id=109,name=Danny Seol,job=.Net Developer),
 User(id=110,name=Roghan Carpte,job=C# Developer),
 User(id=112,name=Thalapathy,job=React Developer)]

In [80]:
from sqlalchemy import update


upstmt=update(UserT).where(UserT.id==104).values(name="Danny Sol")
print(upstmt)

UPDATE userdata SET name=:name WHERE userdata.id = :id_1

In [81]:
session.execute(upstmt)

2023-06-22 20:40:27,974 INFO sqlalchemy.engine.Engine UPDATE userdata SET name=%(name)s WHERE userdata.id = %(id_1)s
2023-06-22 20:40:27,976 INFO sqlalchemy.engine.Engine [generated in 0.00147s] {'name': 'Danny Sol', 'id_1': 104}

Lets See the Result

In [82]:
session.execute(select(UserT)).scalars().all()

2023-06-22 20:40:28,305 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
2023-06-22 20:40:28,307 INFO sqlalchemy.engine.Engine [cached since 1.14s ago] {}

[User(id=101,name=John Sailor,job=React Developer),
 User(id=102,name=Kevalar Selvan,job=Java Developer),
 User(id=105,name=Rohan Aanwar,job=Python Developer),
 User(id=106,name=Danny Seol,job=.Net Developer),
 User(id=107,name=Roghan Carpte,job=C# Developer),
 User(id=108,name=Rabin Karp,job=Python Developer),
 User(id=109,name=Danny Seol,job=.Net Developer),
 User(id=110,name=Roghan Carpte,job=C# Developer),
 User(id=112,name=Thalapathy,job=React Developer)]

### Delete Statements

In [83]:
from sqlalchemy import delete


stmt=delete(UserT).where(UserT.id==106)
print(stmt)

DELETE FROM userdata WHERE userdata.id = :id_1

In [84]:
session.execute(stmt)

2023-06-22 20:40:32,509 INFO sqlalchemy.engine.Engine DELETE FROM userdata WHERE userdata.id = %(id_1)s
2023-06-22 20:40:32,510 INFO sqlalchemy.engine.Engine [generated in 0.00151s] {'id_1': 106}

In [85]:
session.execute(select(UserT)).scalars().all()

2023-06-22 20:40:32,766 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
2023-06-22 20:40:32,767 INFO sqlalchemy.engine.Engine [cached since 5.601s ago] {}

[User(id=101,name=John Sailor,job=React Developer),
 User(id=102,name=Kevalar Selvan,job=Java Developer),
 User(id=105,name=Rohan Aanwar,job=Python Developer),
 User(id=107,name=Roghan Carpte,job=C# Developer),
 User(id=108,name=Rabin Karp,job=Python Developer),
 User(id=109,name=Danny Seol,job=.Net Developer),
 User(id=110,name=Roghan Carpte,job=C# Developer),
 User(id=112,name=Thalapathy,job=React Developer)]

Closing the Session 

Which means we cannot transact any query or statement with session

In [86]:
session.close()

2023-06-22 20:40:33,731 INFO sqlalchemy.engine.Engine ROLLBACK

In [87]:
res=session.execute(select(UserT))
# dta=[dict(row) for row in res]
# print(dta)
for row in res.fetchall():
    print(row)

2023-06-22 20:40:34,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-22 20:40:34,331 INFO sqlalchemy.engine.Engine SELECT userdata.id, userdata.name, userdata.job
FROM userdata
2023-06-22 20:40:34,331 INFO sqlalchemy.engine.Engine [cached since 7.165s ago] {}
(User(id=101,name=John Sailor,job=React Developer),)
(User(id=102,name=Kevalar Selvan,job=Java Developer),)
(User(id=105,name=Rohan Aanwar,job=Python Developer),)
(User(id=106,name=Danny Seol,job=.Net Developer),)
(User(id=107,name=Roghan Carpte,job=C# Developer),)
(User(id=108,name=Rabin Karp,job=Python Developer),)
(User(id=109,name=Danny Seol,job=.Net Developer),)
(User(id=110,name=Roghan Carpte,job=C# Developer),)
(User(id=112,name=Thalapathy,job=React Developer),)

Enum datatype

Creating the Enum

Adding the Enum Datatype in the column

In [88]:
from sqlalchemy import Enum


Column("Data",Enum("Green","Red","Blue"))

Column('Data', Enum('Green', 'Red', 'Blue'), table=None)

# Thank You for Viewing the Tutorial